<div class="booklist">

	<h1>SJØlveste Booklisten</h1>
	<br />
	<br />
	
	<div class="container-fluid">
		<div class="row">

			<button id="sort-rating-submit" class="btn btn-info col-md-2">Sort by rating</button>
			<button id="sort-title-submit" class="btn btn-info col-md-2">Sort by title</button>
			
			<label for="search-query" class="col-md-6">Search for Title or ISBN: 
				<input id="search-query" type="text" name="search" />
				<button id="search-submit" class="btn btn-success">Search</button>
			</label>

		</div>
	</div>

	<br />
	
	<div id="content-list"></div>

</div>
