<form id="add-book-form">

	<label for="book-title">Title: </label>
	<input id="book-title" type="text" name="title" placholder="Title goes here..." />

	<label for="book-author">Author: </label>
	<input id="book-author" type="text" name="author" placholder="Author goes here..." />

	<label for="book-genre">Genre: </label>
	<input id="book-genre" type="text" name="genre" placholder="Genre goes here..." />

	<label for="book-rating">Rating: </label>
	<input id="book-rating" type="range" min="0" max="5"  name="rating"/>
	

	<label for="book-isbn">ISBN: </label>
	<input id="book-isbn" type="text" name="isbn" placholder="ISBN goes here..." />

	<button id="add-book-button">Add book</button>
</form>