<form id="add-book-form">

	<h4>Title: </h4>
	<div data-editors="title"></div>

	<h4>Author: </h4>
	<div data-editors="author"></div>

	<h4>Genre: </h4>
	<div data-editors="genre"></div>

	<h4>ISBN: </h4>
	<div data-editors="isbn"></div>
	
	<button type="submit" id="add-book-button" class="btn btn-primary">Add book</button>
</form>