<form role="form" id="add-book-form form-control form">

	<div class="form-group">
		<h5>Title: </h5>
		<div data-editors="title"></div>
	</div>

	<div class="form-group">
		<h5>Author: </h5>
		<div data-editors="author"></div>
	</div>

	<div class="form-group">
		<h5>Genre: </h5>
		<div data-editors="genre"></div>
	</div>

	<div class="form-group">
		<h5>ISBN: </h5>
		<div data-editors="isbn"></div>
	</div>
	
	<div class="form-group">
		<button type="submit" id="add-book-button" class="btn btn-success form-control">Add book</button>
	</div>

</form>