<div class="booklist">
	
	<div class="row">

		<button id="sort-rating-submit" class="btn btn-info col-xs-1">Sort by rating</button>
		<button id="sort-title-submit" class="btn btn-info col-xs-1">Sort by title</button>
		
		<label for="search-query" class="col-xs-6">Search for Title or ISBN: 
			<input id="search-query" type="text" name="search" />
			<button id="search-submit" class="btn btn-success">Search</button>
		</label>

	</div>

	<br />
	
	<div id="content-list"></div>

</div>
