<form id="add-book-form">

	<h5>Title: </h5>
	<div data-editors="title"></div>

	<h5>Author: </h5>
	<div data-editors="author"></div>

	<h5>Genre: </h5>
	<div data-editors="genre"></div>

	<h5>ISBN: </h5>
	<div data-editors="isbn"></div>
	
	<button type="submit" id="add-book-button" class="btn btn-primary">Add book</button>
</form>