<div class="booklist">

	<h1>SJØlveste Booklisten</h1>
	<br />
	<br />
	
	<div class="container-fluid">
		<div class="row">

			<div class="btn-group col-md-4">
				<button id="sort-rating-submit" class="btn btn-info">Sort by rating</button>
				<button id="sort-title-submit" class="btn btn-info">Sort by title</button>
			</div>
			
			<div class="col-md-8"
				<label for="search-query">Search for Title or ISBN: 
					<input id="search-query" type="text" name="search" />
					<button id="search-submit" class="btn btn-success">Search</button>
				</label>
			</div>

		</div>
	</div>

	<br />
	
	<div id="content-list"></div>

</div>
