
a {
  color: #00B7FF;
}

#container {
  width: 70%;
  margin: 0 auto;
}

.booklist-item {
	margin-bottom: 1vw;
}

.dropdown-container {
	width: 75%;
	margin-top: 1vw;
	margin-left: 12.5%;
	background-color: #E6E6E6;
	padding: 1vw;
	border-radius: 1vw;
}

.book-title: {
	color: #4444BB;
	border-bottom: 0.1em solid #FFFFF1;
}

.book-title:hover {
	color: #2222AA;
	border-bottom: 0.1em solid #2222AA;
}