
a {
  color: #00B7FF;
}

#container {
  width: 70%;
  margin: 0 auto;
}

.booklist-item {
	margin-bottom: 1vw;
}

.dropdown-container {
	width: 75%;
	margin-top: 1vw;
	margin-left: 12.5%;
	background-color: #E6E6E6;
	padding: 1vw;
	border-radius: 1vw;
}